html {
    height: 100%;
}

body {
    color: #ddd;
    background-color: #222;
    margin: 0px;
    height: 100%;
    font-size:1.75em;
}

div.title-bar {
    background-color: #444;
    padding: 4px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.title-text {
    font-size: 2em;
}

div.title-buttons {
    float: right;
    -webkit-app-region: no-drag;
    height: 100%;
}

div.main-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

a.title-bar-button {
    color: #ddd;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
    cursor: default;
    font-size: 2em;
}

a.title-bar-button:hover {
    background-color: #252;    
}


div.win-container {
    width: 100%;
    /* flex-grow: 1; */
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

input, select, textarea {
    color: #ddd;
    background-color: #333;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-size: 3em;
}

input.temperature {
    width: 3ch;
}

div.dashboard-tile {
    background-color: #444;
    border: 2px solid #ddd;
    border-radius: 6px;
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    margin: 4px;
}

div.dashboard-tile > div {
    padding: 4px;
}

div.tile-title {
    background-color: #226;
    border-radius: 6px;
    writing-mode: vertical-lr;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.5em;
}

div.tile-label-large {
    font-size: 1.5em;
    text-align: center;
}

div.tile-value-large {
    font-size: 3.5em;
}
